<div class="footer">
    <div class="container">
        <div class="box">
            <div class="footer-logo">
                
                <%= image_tag 'Comedy-Store_REV.png', class:"medium-logo", alt:'comedy store REV' %>
            </div>
        </div>

        <div class="box" id="contact">
            <h2>CONTACT US<h2>
            <div class="inline">
                <%= image_tag 'phone.svg.png', alt:'phone icon', width:'20px' %>
                <p>02-72084484<p>
            </div>
            <div class="inline">
                <%= image_tag 'Emailnew.png', alt:'email icon', width:'20px' %>
                <p id="email-address">comedystore@century.com.au<p>
            </div>
            <div class="inline">
                <%= image_tag 'address.jpg', alt:'address icon', width:'20px' %>
                <p>122 Lang Rd, Moore Park, NSW 2021, Australia<p>
            </div>
        </div>

        <div class="box" id="comedy_store">
            <h2>COMEDY STORE</h2>
            <a href="#">Home</a>
            <a href="#">Subscribe Newsletter</a>
            <a href="#">About</a>
            <a href="#">Visit</a>
            <a href="#">Gift Certificates</a>
            <a href="#">Dine & Discover Vouchers</a>
            <p>We're COVIDsafe</p>
        </div>

        <div class="box" id="connection">
            <h2>CONNECT WITH US</h2>
            <a href="#">
                
                <%= image_tag 'facebook.png', alt:'facebook icon', width:'40px' %>
            </a>
            <a href="#">
                
                <%= image_tag 'instagram.svg', alt:'instagram icon', width:'40px' %>
            </a>
        </div>

    </div>
</div>