<div class="image">
      


</div>


<div class="about">

    <%= image_tag 'logo.jpg', alt:'comedy store logo', :class=>'about-img' %>
    <div class="about-text">
        <h1>Why visit the Comedy Store</h1>

        <h3>[enter witty text] </h3>
    </div>
    
</div>
<div class="subscribe-container">

    <div class="subscribe">
        <div>
            <h1>Subscribe!</h1>
            <div class="secondary">Be the first to know about all the sh*ts and gigs</div>
            <p>No spam, we promise! All killer, no filler </p>
        </div>


    </div>
   
        <%= image_tag 'elephant.png', alt:'elephant balancing on ball comedy store' , :id => "elephant"%>

    <div class="form">
        <%= form_for @user do |f| %>

        <div class="form-input">
            <div class="form-top">

                <%= f.text_field :first_name, :required => true, :placeholder => "First Name*", :minlength => 2 %>

                <%= f.text_field :last_name, :required => true, :placeholder => "Last Name*", :minlength => 2 %>


            </div>

            <%= f.email_field :email, :required => true, :placeholder => "Email*", :class => "email_output" %>
            
        </div>


        <div class="sign-up">
            <%= f.submit "Sign Up", :id => "submit" %>
        </div>

        <% if flash[:message].present? %>

            <p class="flash">
                <%= flash[:message] %>
            </p>

        <% end %>

        <% if @user.errors.any? %>

            <% @user.errors.full_messages.each do |msg| %>
                <p class="error"> <%= msg %> </p>
            <% end%>

        <% end %>

        <% end %>
    </div>

</div>




<div class="footer">
    <%= render :partial => 'footer'%>
</div>
