<div class="image">



</div>


<div class="about">

    <img src="../../assets/logo.jpg" alt="comedy store logo">
    
    <div class="about-text">
        <h1>Why visit the Comedy Store</h1>

        <h3>[enter witty text] </h3>
    </div>
    
</div>
<div class="subscribe-container">

    <div class="subscribe">
        <div>
            <h1>Subscribe!</h1>
            <h5>Be the first to know about all the sh*ts and gigs</h5>
            <p>No spam, we promise! All killer, no filler </p>
        </div>


    </div>

        <img src="../../assets/elephant.png" alt="elephant balancing on ball comedy store">    

    <div class="form">
        <%= form_for @user do |f| %>

        <div class="form-input">
            <div class="form-top">

                <%= f.text_field :first_name, :required => true, :placeholder => "First Name*", :minlength => 2 %>

                <%= f.text_field :last_name, :required => true, :placeholder => "Last Name*", :minlength => 2 %>


            </div>

            <%= f.email_field :email, :required => true, :placeholder => "Email*", :class => "email_output" %>
            
        </div>


    <% if flash[:message].present? %>

    <div class="flash">
        <%= flash[:message] %>
    </div>

    <% end %>


        <div class="sign-up">
            <%= f.submit "Sign Up", :id => "submit" %>
        </div>

        <% end %>
    </div>

</div>


    <% if @user.errors.any? %>

        <% @user.errors.full_messages.each do |msg| %>
            <p> <%= msg %> </p>
        <% end%>

    <% end %>

<div class="footer">
    <%= render :partial => 'footer'%>
</div>
