<div class="image">



</div>


<div class="about">

    <img src="../../assets/logo.jpg" alt="comedy store logo">
    
    <div class="about-text">
        <h1>Why visit the Comedy Store</h1>

        <h3>[enter witty text] </h3>
    </div>
    
</div>

<%= form_for @user do |f| %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name, :required => true %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name, :required => true %>

    <%= f.label :email %>
    <%= f.email_field :email, :required => true %>
    
    <%= f.submit "Sign Up" %>

<% end %>


    <% if flash[:message].present? %>

    <div class="flash">
        <%= flash[:message] %>
    </div>

    <% end %>

    <% if @user.errors.any? %>

        <% @user.errors.full_messages.each do |msg| %>
            <p> <%= msg %> </p>
        <% end%>

    <% end %>

<div class="footer">
    <%= render :partial => 'footer'%>
</div>
